<div class="scrollable">
	<div class="scrollable-content">
		<div class="list-group text-center">
			
			
			
			<!-- #########################cục giới thiệu -->
			<div class="list-group-item list-group-item-home">
				<h1><span style="color: red">ỨNG DỤNG Iot TRONG NÔNG NGHIỆP</span></h1>
			</div>
			
			
			
			<!-- ########################ục cảm biến mưa -->
			<div class="list-group-item list-group-item-home">
				<div><i class="fa fa-gamepad feature-icon text-primary"></i></div>
				<div><h3 class="home-heading"><span style="color: green">Cảm biến mưa</span></h3>trạng thái: {{CamBienMua}}</div>
			</div>
			
			
			
			<!-- #####################Cục cập nhập giá trị cảm biến -->
			<div class="list-group-item list-group-item-home">
				<div><i class="fa fa-tachometer feature-icon  text-primary"></i></div>
				<div><h3 class="home-heading"><span style="color: blue">cập nhật trạng thái</span></h3>
				<button class="button" ng-click="updateSensor()">CẬP NHẬT</button></div>
			</div>
			

			<!-- ####################Cục thay đổi trạng thái các bóng đèn -->
			<div class="list-group-item list-group-item-home">
				<div><i class="fa fa-tachometer feature-icon  text-primary"></i></div>
					<div><h3 class="home-heading"><span style="color: violet">TRẠNG THÁI CÁC BÓNG ĐÈN</span></h3>
					<div ng-repeat="led_value in leds_status  track by $index">
						Đèn thứ {{$index}} đang {{led_value ? "BẬT" : "TẮT"}}. <input type="checkbox" ng-true-value="1" ng-false-value="0" ng-change="changeLED()" ng-model="leds_status[$index]" />
						</div>
					</div>
				</div>
			
			
			
			<!--####################### Cục thay đổi trạng thái máy phun sương -->
			<div class="list-group-item list-group-item-home">
				<div><i class="fa fa-tachometer feature-icon  text-primary"></i></div>
				<div><h3 class="home-heading"><span style="color: violet">TRẠNG THÁI CÁC MÁY PHUN SƯƠNG</span></h3>
					<div ng-repeat="phunsuong_value in phunsuongs_status  track by $index">
						Máy phun sương thứ {{$index}} đang {{phunsuong_value ? "BẬT" : "TẮT"}}. <input type="checkbox" ng-true-value="1" ng-false-value="0" ng-change="changePHUNSUONG()" ng-model="phunsuongs_status[$index]" />
						</div>
					</div>
				</div>
			
			
			
			
		</div>
	</div>
</div>
