<div class="scrollable">
	<div class="scrollable-content">
		<div class="list-group text-center">
			<a href="/login.html">Login</a>
 		
			<!-- #########################cục giới thiệu -->
			<div class="list-group-item list-group-item-home">
				
				<h1><span style="color: red">ỨNG dụng Internet kết nối nâng cao chất lượng canh tác cây</span><span style="color: green"> THANH LONG</span></b></h1>
				<img src="http://camnangcaytrong.com/Uploads/UserFiles/images/Hoa%2C%20qua%20Thanh%20Long.jpg" width="400px" height="160px"><img src="http://voh.com.vn/uploads/Image/2017/06/27/cay-thanh-long-270617.jpg" width="400px" height="160px">
			</div>

			<!-- ####################Cục nhiệt độ độ ẩm -->
			<div class="list-group-item list-group-item-home">
				<div><i class="fa fa-tachometer feature-icon  text-primary"></i></div>
				<div>
					<h3 class="home-heading"><span style="color: purple">NHIỆT ĐỘ</span><span style="color: orange"> và</span><span style="color: purple"> ĐỘ ẨM</span> <span style="color: orange">tại vườn</span></h3>
					<h4 class="home-heading">Nhiệt độ lúc này là:</h4>
					<span style="color: brown"><b>{{nhietdo}}</b>__(độ C)</span>
					<h4 class="home-heading">Độ ẩm lúc này là:</h4>
					<span style="color: brown"><b>{{doam}}</b>__(%)</span>
				</div>
			</div>


			<!-- #####################Cục cập nhập giá trị cảm biến -->
			<div class="list-group-item list-group-item-home">
				<div><i class="fa fa-tachometer feature-icon  text-primary"></i></div>
				<div>
					<h3 class="home-heading"><span style="color: blue">CẬP NHẬT HỆ THỐNG</span></h3>
					<button class="button" ng-click="cncb()">Cập nhật các cảm biến</button><button class="button" ng-click="cntb()">Cập nhật trạng thái on/off</button>
				</div>
			</div>


			<!-- ####################Cục thay đổi trạng thái relay 1 -->
			<div class="list-group-item list-group-item-home">
				<div><i class="fa fa-tachometer feature-icon  text-primary"></i></div>
				<div>
					<h3 class="home-heading"><span style="color: brown">ĐIỀU KHIỂN THIẾT BỊ 1</span></h3>
					<button class="button" ng-click="dongrelay1()">Bật</button><button class="button" ng-click="ngatrelay1()">Tắt</button>
				</div>
				<span style="color: green">{{trangthairelay1}}</span>
			</div>



			<!--####################### Cục thay đổi trạng thái relay 2 -->
			<div class="list-group-item list-group-item-home">
				<div><i class="fa fa-tachometer feature-icon  text-primary"></i></div>
				<div>
					<h3 class="home-heading"><span style="color: brown">ĐIỀU KHIỂN THIẾT BỊ 2</span></h3>
					<button class="button" ng-click="dongrelay2()">Bật</button><button class="button" ng-click="ngatrelay2()">Tắt</button>
				</div>
				<span style="color: green">{{trangthairelay2}}</span>
			</div>
			
			
			
			<!-- ####################Cục thay đổi trạng thái relay 3 -->
			<div class="list-group-item list-group-item-home">
				<div><i class="fa fa-tachometer feature-icon  text-primary"></i></div>
				<div>
					<h3 class="home-heading"><span style="color: brown">ĐIỀU KHIỂN THIẾT BỊ 3</span></h3>
					<button class="button" ng-click="dongrelay3()">Bật</button><button class="button" ng-click="ngatrelay3()">Tắt</button>
				</div>
				<span style="color: green">{{trangthairelay3}}</span>
			</div>
			
			
			
				<!--####################### Cục thay đổi trạng thái relay 4 -->
			<div class="list-group-item list-group-item-home">
				<div><i class="fa fa-tachometer feature-icon  text-primary"></i></div>
				<div>
					<h3 class="home-heading"><span style="color: brown">ĐIỀU KHIỂN THIẾT BỊ 4</span></h3>
					<button class="button" ng-click="dongrelay4()">Bật</button><button class="button" ng-click="ngatrelay4()">Tắt</button>
				</div>
				<span style="color: green">{{trangthairelay4}}</span>
			</div>
			
			
			
				<!--####################### Cục thay đổi trạng thái 4 relay-->
			<div class="list-group-item list-group-item-home">
				<div><i class="fa fa-tachometer feature-icon  text-primary"></i></div>
				<div>
					<h3 class="home-heading"><span style="color: navy">ĐIỀU KHIỂN ĐỒNG THỜI 4 THIẾT BỊ</span></h3>
					<button class="button" ng-click="dong4relay()">Bật tất cả thiết bị</button><button class="button" ng-click="ngat4relay()">Tắt tất cả thiết bị</button>
				</div>
				<span style="color: green">{{trangthai4relay}}</span>
			</div>
		</div>
	
	
		<div class="list-group-item list-group-item-home">
			<html>
			<b><h3><span style="color: black">Phạm Văn Thêm</span></h3></b>
			<h4><span style="color: black">Liên hệ: </span><span style="color: olive">01679722988</span></h4>
			<h4><span style="color: black">Email:	</span><span style="color: olive">hoangdagm@gmail.com</span></h4>
			<h4><span style="color: black">Student: </span><span style="color: olive">15151219@student.hcmute.edu.vn</span></h4>
			<h4><span style="color: black">https://www.facebook.com/phamthem.business.technology</span></h4>
			<h4><a href="https://www.facebook.com/phamthem.business.technology">Ghé thăm facebook tại đây</a></h4>
			<b><h3><span style="color: red">___________________</span></h3></b>	
			<h4><span style="color:olive">Sinh viên tại Đại Học Sư Phạm Kỹ Thuật TP.HCM</span></h4>
			<h4><span style="color:olive">Chuyên ngành: Công nghệ Kỹ thuật ĐIỀU KHIỂN và TỰ ĐỘNG HÓA</span></h4>
			<h4><span style="color:olive">Đề tài nghiên cứu phát triển các giải pháp điều khiển thông minh ứng dụng phát triển nông nghiệp công nghệ cao</span></h4>			
			</html>
		</div>
	
	
	</div>
</div>





