<div class="scrollable">
	<div class="scrollable-content">
		<div class="list-group text-center">
			<a href="/login.html">Login</a>


			<!-- #########################cục giới thiệu -->
			<div class="list-group-item list-group-item-home">
				<h1><span style="color: red"><b>SUSTAINABLE AGRICULTURE</b></span></h1>
			</div>

			<!-- ####################Cục nhiệt độ độ ẩm -->
			<div class="list-group-item list-group-item-home">
				<div><i class="fa fa-tachometer feature-icon  text-primary"></i></div>
				<div>
					<h3 class="home-heading"><span style="color: orange">CẢM BIẾN NHIỆT ĐỘ VÀ ĐỘ ẨM</span></h3>
					<h4 class="home-heading">Nhiệt độ lúc này là:</h4>
					<span style="color: brown"><b>{{nhietdo}}</b>__(độ C)</span>
					<h4 class="home-heading">Độ ẩm lúc này là:</h4>
					<span style="color: brown"><b>{{doam}}</b>__(%)</span>
				</div>
			</div>


			<!-- #####################Cục cập nhập giá trị cảm biến -->
			<div class="list-group-item list-group-item-home">
				<div><i class="fa fa-tachometer feature-icon  text-primary"></i></div>
				<div>
					<h3 class="home-heading"><span style="color: blue">CẬP NHẬT TRẠNG THÁI</span></h3>
					<button class="button" ng-click="updateSensor()">cập nhật</button>
				</div>
			</div>


			<!-- ####################Cục thay đổi trạng thái relay 1 -->
			<div class="list-group-item list-group-item-home">
				<div><i class="fa fa-tachometer feature-icon  text-primary"></i></div>
				<div>
					<h3 class="home-heading"><span style="color: brown">ĐIỀU KHIỂN THIẾT BỊ 1</span></h3>
					<button class="button" ng-click="dongrelay1()">Bật</button><button class="button" ng-click="ngatrelay1()">Tắt</button>
				</div>
				<span style="color: green">{{trangthairelay1}}</span>
			</div>



			<!--####################### Cục thay đổi trạng thái relay 2 -->
			<div class="list-group-item list-group-item-home">
				<div><i class="fa fa-tachometer feature-icon  text-primary"></i></div>
				<div>
					<h3 class="home-heading"><span style="color: brown">ĐIỀU KHIỂN RELAY 2</span></h3>
					<button class="button" ng-click="dongrelay2()">Bật</button><button class="button" ng-click="ngatrelay2()">Tắt</button>
				</div>
				<span style="color: green">{{trangthairelay2}}</span>
			</div>
			
			
			
			<!-- ####################Cục thay đổi trạng thái relay 3 -->
			<div class="list-group-item list-group-item-home">
				<div><i class="fa fa-tachometer feature-icon  text-primary"></i></div>
				<div>
					<h3 class="home-heading"><span style="color: brown">ĐIỀU KHIỂN THIẾT BỊ 1</span></h3>
					<button class="button" ng-click="dongrelay3()">Bật</button><button class="button" ng-click="ngatrelay3()">Tắt</button>
				</div>
				<span style="color: green">{{trangthairelay3}}</span>
			</div>
			
			
			
				<!--####################### Cục thay đổi trạng thái relay 4 -->
			<div class="list-group-item list-group-item-home">
				<div><i class="fa fa-tachometer feature-icon  text-primary"></i></div>
				<div>
					<h3 class="home-heading"><span style="color: brown">ĐIỀU KHIỂN RELAY 2</span></h3>
					<button class="button" ng-click="dongrelay4()">Bật</button><button class="button" ng-click="ngatrelay4()">Tắt</button>
				</div>
				<span style="color: green">{{trangthairelay4}}</span>
			</div>






		</div>
	</div>
</div>
